%head
  %title Youre Bluffing!
  =stylesheet_link_tag 'screen'

%body
  #bar
    - unless player_name.blank?
      %span.player_name.tittle
        %strong= player_name
      %a.change_name{:href => edit_player_name_path} Change Name
  
  #main= yield
